/* Components */
@import "variables.scss";
@import "header.scss";
@import "main.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $secondary-color;
  font-family: $paragraph-font;
}
