@charset "UTF-8";

:root {
  --title-font: "Times New Roman", Times, serif;
  --paragraph-font: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffdb58;
  font-family: var(--paragraph-font);
}

/* Body */

header img {
  width: 60px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  background-color: #b5651d;
}

.title h1 {
  font-family: var(--title-font);
  font-size: 45px;
  text-align: center;
}

.title p {
  font-size: 14px;
  text-align: center;
}

.profile {
  position: relative;
}

.profile i#user {
  font-size: 40px;
  border: 3px solid black;
  border-radius: 50%;
  padding: 3px;
  cursor: pointer;
  transition: background 0.3s;
}

.profile i#user:hover {
  background-color: #ffdb58;
}

.profile p#box {
  background-color: white;
  pointer-events: none;
  position: absolute;
  top: 30%;
  right: 120%;
  width: 170px;
  padding: 5px 15px;
  border-radius: 10px;
  border-top-right-radius: 0;
  opacity: 0;
  transition: opacity 0.2s;
}

main {
  position: relative;
  width: 800px;
  margin: 4% auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.burguerImg {
  overflow: hidden;
}

.burguerImg img {
  width: 400px;
  vertical-align: middle;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.burguerImg img:hover {
  transform: scale(1.1);
}

#recipe {
  opacity: 0;
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  padding: 20px;
  background-color: white;
  border-left: 10px solid #b5651d;
  height: 600px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

#recipe h2 {
  display: inline-block;
  font-weight: 600;
  padding-bottom: 2px;
  font-size: 40px;
  border-bottom: 3px solid #ffdb58;
}

#recipe ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 60px;
}

#recipe ul li {
  font-size: 20px;
}

.info {
  z-index: 3;
  position: relative;
  padding: 20px;
  background-color: #b5651d;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.info h2 {
  border-left: 8px solid #ffdb58;
  padding-left: 10px;
  font-size: 50px;
}

.info > p {
  margin-top: 15px;
  font-size: 18px;
}

.login {
  margin-top: 50px;
  padding: 10px;
  background-color: white;
  color: black;
  border-radius: 10px;
}

.login > p {
  font-size: 20px;
}

.login > p span {
  color: red;
  font-weight: bold;
}

#form {
  margin-top: 20px;
}

#form div {
  margin: 20px 0;
}

#form div label {
  display: inline-block;
  margin-bottom: 5px;
}

#form div input {
  width: 100%;
  height: 40px;
  text-indent: 5px;
}

#form button {
  margin-top: 20px;
  background-color: #ffdb58;
  border: 1px solid black;
  border-radius: 10px;
  padding-block: 12px;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
  transition: opacity 0.3s;
}

#form button:hover {
  opacity: 0.9;
}

.info .tag {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateX(-20px);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  font-size: 14px;
  transition: opacity 0.3s ease;
}

.info .tag:hover {
  opacity: 0.9;
}
