@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(#3b1566, #5f4da8);
  color: #d6d6ea;
  text-align: center;
  display: grid;
  place-items: center;
  height: 100dvh;
}

.description #chapter {
  margin: 30px 0;
  font-size: 20px;
  font-weight: 500;
}

.description h1 {
  margin-bottom: 40px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.buttons button i {
  font-size: 65px;
  color: #d6d6ea;
  transition: all 0.3s;
}

.buttons button i:hover {
  color: white;
}

.buttons button#play-pause i:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .buttons {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .buttons button i:hover {
    color: #d6d6ea;
  }

  .buttons button i:active {
    color: white;
  }

  .buttons button#play-pause i:hover {
    transform: none;
  }
}
